

section{

background-color: chartreuse;

}
.first-image{
   
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;   
}
.size{
    width: 150px;
}



.descrizione{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;

}

.colored-box{
    
    background-color: blue;
     margin-bottom: 24px;
    
}

.about-content{
    
   
    color:  white;
    text-align: center;
    
   

}
.about-content h1{
    padding-top: 40px;
}

.line>hr{
    width: 150px;
    
    border-top: 2px white solid; 
    opacity: 1; 
    margin: 0px 10px;
    
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    


}



.centered{
    display: flex;
    justify-content: center;
    height: 100%;
    
}
button{
    padding: 10px;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 10px;
    
}
.button-about i{
    font-size: 10px;
    vertical-align: top;
     
}

.black>hr{
    width: 20%;
    
    border-top: 4px black; 
    opacity: 1; 
    margin: 0px 10px;
}

img{
    width: 100%;
    
    
}

footer{
background-color:  blue;
height: 150px;
}