



nav{
    height: 60px;
    background-color: rgb(2, 2, 61);

}

section{
height: 300px;
background-color: chartreuse;
width: 1300px;
}
.first-image{
    border: 1px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;   
}

main{
    border: 1px black solid;
    height: 450px;
    
}

.descrizione{
    text-align: center;
}

.box{
    height: 150px;
    
    border: 1px solid black;
    padding: 5px;
}

